
/* 1. Global style start ========================= */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




/* 1. Global style end ========================== */


/* 2. Home style start ========================== */
#home {
  position: relative;
  height: 800px;
  min-height: 500px;
  width: 100%;
  background: #161415 url(./images/homebg1.jpg) no-repeat top center;
  background-size: cover !important;
  text-align: center;
  overflow: hidden;
}

#home .Banner{
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home .BannerText {
  color: #fff;
}

#navbar{
  position: fixed;
  z-index: 999;
  width: 100%;
  color: #fff;
  background-color: #191550;
}


/* 2. Home style end ============================ */

/* 3. About style start ========================== */
#about {
  background: #262425;
  overflow: hidden;
}

#about .Biography, .EmailAddress {
  color: #fff;
}

/* 3. About style end ============================ */